.film-detail {
  font-size: $fs-3;
  .showstime{
    .tab-modify{
      height: 500px;
    }
    
    .tab-title.nav-tabs a{
      opacity: 1;
    }
  }
  .tab-modify .nav-item {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 1px;
      background-color: #ebebec;
      width: 70%;
      display: block;
      opacity: 1;
      transform: translateX(-50%);
    }
    a {

      display: flex;
      align-items: center;
    }
  }
  .film-detail__btn {
    background-color: $color-red-0;
    color: white;
    &:hover {
      background-color: #b42a14;
    }
  }
  .film-detail__rating {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    display: flex;
    flex-direction: column;
    p {
      color: white;
      margin: 0 auto;
    }
    .CircularProgressbar {
      width: 130px;
      height: 130px;
      margin-bottom: $mg-2;
      .CircularProgressbar-text {
        font-size: $fs-5;
      }
    }
  }
}
