.wrap-spinner{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 200;
    .spinner{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}