.showstime{
    max-width: 940px;
    margin: 0 auto;
    .nav-item .nav-link.active{
        background: none;
        color: black;
      }
      .nav-item .nav-link{
          color: black;
      }
      
}