.showstime {
  padding-top: 120px;
  .showstime__content {
      .col--1, .col--2, .col--3{
          padding: 0px;
          border: 0.1px solid rgba(128, 128, 128, 0.2);
      }
      .col--2{
          border-left: none;
          border-right: none;
      }
    img {
        width: 50px;
        height: 50px;
      }
    max-width: 940px;
    margin: 0 auto;
    #bhd-tab,
    #bhd-showtime {
      display: none;
    }
    .active {
      background-color: transparent;
      opacity: 1;
    }
    a{
        opacity: 0.7;
    }
    a:hover{
        opacity: 1;
    }
    a,
    a.active {
      color: black;
      width: fit-content;
    }

    .my-brand {
      a:after,
      a.active:after {
        content: "";
        display: block;
        height: 0.1px;
        width: 50px;
        text-align: center;
        background: rgba(128, 128, 128, 0.2);
        margin-top: 10px;
      }
      align-items: center;
      .nav-link {
        border-radius: 0;
        margin-bottom: $mg-4;
      }
      a {
        padding: 0;
        
      }
    }
    .my-tab{
        padding-right: 10px;
        .nav{
            text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
        }
        a{
            .tab-text{
                margin-left: $mg-1;
            }
            display: flex;
            p:first-child{
                color: black;
            }
            p{
                margin: 0;
                
                color: $color-gray-2;
            }
        }
    }
    .my-showtime{
        padding: $pd-3;
        height: 100%;
        p{
        margin: 0;
        span{
            background-color: $color-red-1;
            padding: $pd-1;
            color: $color-white;
        }
        .showtime-item{
            display: flex;

        .showtime-text{
            width: 100%;
            padding: $pd-1 $pd-2;
        }}
    }}
  }
}
