.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 35px;
  height: 80px;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
}
.slick-dots li.slick-active button:before {
  color: $color-red-0;
  opacity: 1;
}
.carousel-indicators {
  bottom: 12%;
  .active {
    background: $color-red-0;
  }
}

.carousel-control-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.35);
  color: white;
  width: 95px;
  height: 95px;
  text-align: center;
  line-height: 95px;
  font-size: $fs-5 - 2;
  border-radius: 50%;
  i {
    margin-left: $mg-1;
  }
  transition: all 0.2s;
  opacity: 1;
}
.modal-content {
  z-index: 1;
  height: 400px;
  .modal-body {
    
      padding-top: 40px;
      display: flex;
      flex-direction: column;
   
    a {
      z-index: 2;
      cursor: pointer;
      position: absolute;
      top: -22px;
      right: -22px;
      color: white;
      border: 1px solid white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      line-height: 40px;
      font-size: 24px;
      text-align: center;
    }
    a {
      background-color: white;
      i {
        color: black;
      }
    }
  }
}
#modal-trailer .modal-content {
  background-color: transparent;
  a {
      z-index: 2;
      cursor: pointer;
      position: absolute;
      top: -22px;
      right: -22px;
      color: white;
      border: 1px solid white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      line-height: 40px;
      font-size: 24px;
      text-align: center;
    }
}
.modal-content a i {
  color: white;
}
.slick-arrow.slick-prev::before,
.slick-arrow.slick-next::before {
  display: none;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  width: 50px;
  height: 50px;
  top: 45%;
  left: -10%;
  transform: translateY(-50%);
}
.slick-arrow.slick-next {
  left: unset;
  right: -10%;
}

.nav-tabs.tab-title {
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    border: none;
    @include text($color-black, $fs-4);
    font-family: "SF Medium";
    transition: all 0.3s;
  }
  a:hover {
    font-size: $fs-5;
  }
  a.active {
    @include text($color-red-1, $fs-5);
  }
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

//scrollbar
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-gray-0;
  border-radius: 10px;
}
input.form-control:focus {
  border: 1px solid #ced4da;
  box-shadow: none;
}
#modal-timeup {
  .modal-content {
    background-color: white;
    max-height: 200px;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#modal-addFilm {

  .modal-content{
    height: fit-content;
  }
  
}
#modal-describeFilm {
  .modal-content {
    height: 200px;
  }
}
#modal-addSchedule {
  .modal-content {
    height: 500px;
  }
  .modal-body {
    height: 500px;
  }
}
#modal-editFilm,
#modal-addSchedule {
  max-width: 90%;
  .modal-content {
    height: unset;
  }
}
table {
  th,
  td {
    text-align: center;
    vertical-align: middle !important;
  }
}
