body {
  font-family: "SF Text Regular";
  line-height: 1.42857143;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  
}
p{
  margin: 0;
}
